h1 {
    font-size: 70px;
    text-align: center;
    /* margin: 20px 300px 20px 300px; */
}
h2 {
    font-size: 50px;
    margin: 20px;
}

#center {
    text-align: center;
}
#score {
    padding: 20px 300px;
}
#main {
    width: 1500px;
    justify-content: center;
}
#wordGenerated {
    font-size: 70px;
    padding: 20px;
    align-self: center;
    text-align: center;
}
body {
    background-color: lightblue;

}
#title {
    background-color: black;
    height: 150px;
}
#the-office {
    color: white;
    font-size: 60px;
    margin: 15px 15px 15px 15px;
    padding: 15px 0 15px 15px;
}
#characters {
    color: red;
    font-size: 60px;
    padding: 0 15px 0 0;
}
img {
    height: 100px;
    width: auto;
    padding: 15px 5px 0 5px;
}

